img.gray {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.5;
}


.push-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.push-left {
    margin-right: auto !important;
}

.push-right {
    margin-left: auto !important;
}

.push-top {
    align-self: flex-start !important;
}

.push-bottom {
    align-self: flex-end !important;
}



.audioButton {
    background: transparent none repeat scroll 0% 0% !important;
    border: medium none !important;
}


.audioButtonBig {
    font-size: 2em !important;
}

  .chars {
      margin-left: 10px;
      font-size: 1.2em;
      color: rgba(20,20,20,0.5);
  }
  
  .chars:hover {
      color: black;
  }
  
  
  