<!DOCTYPE HTML>
<meta content="text/html;charset=utf-8; width=device-width" http-equiv="Content-Type" name="viewport">

<!--
    This file is part of knowBetter.

    knowBetter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    knowBetter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with knowBetter.  If not, see <http://www.gnu.org/licenses/>.
-->

<!-- CSS custom css styles -->
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<link href="css/angular-flippy-fancy.css" rel="stylesheet" type="text/css"/>


<!-- CSS for the diagram javascript library c3.js -->
<link href="css/c3.min.css" rel="stylesheet" type="text/css"/>


<!-- CSS base library stylesheet -->
<link href="css/angular-material.min.css" rel="stylesheet" type="text/css"/>
<link href="css/material-icons.css" rel="stylesheet" type="text/css"/>


<!-- Framework libraries -->
<script src="libs/jquery.min.js"></script>
<script src="libs/angular.min.js"></script>
<script src="libs/angular-sanitize.min.js" type="text/javascript"></script>
<script src="libs/angular-messages.min.js" type="text/javascript"></script>
<script src="libs/angular-animate.min.js" type="text/javascript"></script>
<script src="libs/angular-aria.min.js" type="text/javascript"></script>


<!-- Local Storage Access Library Module -->
<script src="libs/angular-local-storage.js" type="text/javascript"></script>


<!-- UI Framework base library -->
<script src="libs/angular-material.min.js" type="text/javascript"></script>


<!-- UI library to create introductory tours for the interface -->
<script src="libs/angular-ui-tour.js" type="text/javascript"></script>


<!--UI libraries for diagrams -->
<script src="libs/d3.min.js" type="text/javascript"></script>
<script src="libs/c3.min.js" type="text/javascript"></script>


<!-- UI library for card flipping effect -->
<script src="libs/angular-flippy.min.js" type="text/javascript"></script>

<!-- Functionalities javascript libraries -->
<script src="libs/FileSaver.js"></script>
<script src="libs/underscore.js"></script>
<script src="libs/angular-translate.js"></script>
<script src="libs/howler.min.js" type="text/javascript"></script>
<script src="libs/Math.uuid.js" type="text/javascript"></script>

<!-- Data sources -->
<script src="UI_translations.js"></script>
<script src="content.js" charset="utf-8"></script>

<!-- Optional data source, only necessary, if you want to import data from file -->
<script src="import.js" charset="utf-8"></script>

<!-- The app -->
<script src="js/app.js"></script>
<script src="js/data.js"></script>
<script src="js/test.js"></script>	
<script src="js/statistics.js" type="text/javascript"></script>
<script src="js/edit.js"></script>	
<script src="js/relate.js"></script>
<script src="js/dataImport.js"></script>
<script src="js/dataExport.js" type="text/javascript"></script>


</head>

<body ng-app="knowBetter" ng-controller="dataController as data" md-theme="{{ data.getUserTheme()}}" class="remodal-bg">
    <div ng-controller="dialogController">
        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="Home" class="md-icon-button" ng-click="test.status = 'start'; edit.edit = false; show_edit = false">
                    <i class="material-icons">home</i>
                </md-button>
                <h1 class="md-toolbar-tools" ng-show='test.status === "start"'>knowBetter</h1>
                <md-button aria-label="Editor" class="md-icon-button" ng-click="show_edit = edit.toggleEdit()">
                    <i ng-show="!show_edit" class="material-icons">settings</i>
                    <i ng-show="show_edit" class="material-icons">replay</i>
                </md-button>

                <span flex="20"></span>

                <span ng-show="test.title && test.title !== 'start'">
                    {{ test.title | translate}}
                    <md-button class="push-right" aria-label="next" ng-click="test.next()">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </md-button>
                </span>
            </md-fab-actions>
        </md-toolbar>


        <div flex>

            <start              ng-show="!edit.edit && test.status === 'start'"></start>

            <train-grid         ng-show="!edit.edit && test.status === 'TRAIN_GRID'"></train-grid>
            <train-pairs        ng-show="!edit.edit && test.status === 'TRAIN_PAIRS'"></train-pairs>

            <test-grid          ng-show="!edit.edit && test.status === 'TEST_GRID'"></test-grid>
            <test-translate     ng-show="!edit.edit && test.status === 'TEST_TRANSLATE'"></test-translate>
            <test-gap           ng-show="!edit.edit && test.status === 'TEST_GAP'"></test-gap>
            <test-listen        ng-show="!edit.edit && test.status === 'TEST_LISTEN'"></test-listen>

            <test-end           ng-show='!edit.edit && test.status === "finished"'></test-end>

            <editor             ng-show="edit.edit"></editor>
        </div>
        <!-- inline templates -->
    </div>


</body>
</html>
