<!DOCTYPE html>
<!--
    This file is part of knowBetter.

    knowBetter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    knowBetter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with knowBetter.  If not, see <http://www.gnu.org/licenses/>.
-->




    <div class="col-xs-8 words-columns">
        <div class="row">
            <div class="col-xs-4"><label>{{'LANGUAGE'| translate}} </label><br><select ng-change="relate.updateLanguageLeft()" ng-model="relate.languageLeft" ng-options="language.id as language.name for language in data.languages| orderBy:'name'"></select></div>
            <div class="col-xs-4"><label>{{'FILTER'| translate}} </label><input type="text" ng-model="search" class="form-control" ng-change="relate.resetLimitRelateCategories()"></div>
        </div>
        <div class="row relations">
            <div class="col-xs-3" ng-repeat="word in relate.wordsLeft| filter:search | orderBy:'name' | limitTo:relate.limitRelateCategories" ng-class="{'active-card' : relate.activeLeft.id == word.id}" ng-show="relate.languageLeft">
                <div class="flip card-small face back" ng-class="{'selected' : relate.activeLeft.id == word.id}">
                    <div class="general shadow-z-2"  ng-click="relate.addSelectedCategory(word)" >
                        <div class="flip-tag">
                            {{word.tag}}
                        </div>
                        <div ng-class="{'sentence' : word.sentence}">
                            <div class="word" data-fittext data-fittext-min="22" data-fittext-max="45">
                                {{word.name}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-relations related-buttons">
                    <div ng-repeat="item in word.categories"><button type="button" class="btn btn-default btn-xs glyphicon glyphicon-remove" ng-click="relate.removeCategory(word, item)"> {{data.getObjectByID(item, "relate-category.html - card relations").name | translate}}</button></div>
                </div>		
            </div>
            <button class="btn btn-default" ng-hide="relate.limitRelateCategoriesReached()" ng-click="relate.raiseLimitRelateCategories()">Load more</button>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="row">
            <h2>{{'CATEGORIES'| translate }}</h2>
        </div>
        <div class="row relations">
            <div class="flip category-card face back shadow-z-2" ng-repeat="category in data.categories" ng-class="{'selected' : relate.currentCategory_id == category.id}">
                <div class="general"  ng-click="relate.selectCategory(category.id)" >
                    {{ category.name | translate }}
                </div>
            </div>
        </div>

        <div class="category-selected-bar">
            {{data.getObjectByID(relate.currentCategory_id, "relate-category.html category-select-bar").name | translate}}
        </div>

    </div>
