<!--
    This file is part of knowBetter.

    knowBetter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    knowBetter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with knowBetter.  If not, see <http://www.gnu.org/licenses/>.
-->


<div id="relationEditor">
    <div class="panel panel-default clearfix">
        <div class="panel-heading clearfix">
            <span>
                <div class="col-xs-5">
                    <div class="col-xs-6"><label>{{'LANGUAGE'| translate}}</label><select ng-change="relate.updateLanguageLeft()" ng-model="relate.languageLeft" ng-options="language.id as language.name for language in data.languages| orderBy:'name'"></select></div>
                    <div class="col-xs-6"><label>{{'FILTER'| translate}} </label><input type="text" ng-model="searchLeft" class="form-control" ng-change="relate.resetLimitLeft()" /></div>
                </div>
                <div class="col-xs-2">
                    <input type="checkbox"  ng-click="relate.updateShowUntranslated()" ng-model="relate.filterUnrelated" > show only untranslated
                </div>
                <div class="col-xs-5">
                    <div class="col-xs-6"><label>{{'LANGUAGE'| translate}}</label><select ng-change="relate.updateLanguageRight()"  ng-model="relate.languageRight" ng-options="language.id as language.name for language in data.languages| orderBy:'name'"></select></div>
                    <div class="col-xs-6"><label>{{'FILTER'| translate}} </label><input type="text" ng-model="searchRight" class="form-control" ng-change="relate.resetLimitRight()" /></div>
                </div>
            </span>

        </div>
        <div class="panel-body clearfix">
            <div class="col-xs-6">
                <div class="relations">
                    <div ng-repeat="word in relate.wordsLeft| filter:searchLeft | orderBy:'name' | limitTo:relate.limitLeft"  ng-show="relate.languageLeft">
                        <div class="flip card-small face back" ng-class="{'selected' : relate.activeLeft.id == word.id}">
                            <div class="general shadow-z-2"  ng-click="relate.connectLeftElement(word)" >
                                <div class="flip-tag">
                                    {{word.tag}}
                                </div>
                                <div ng-class="{'sentence' : word.sentence}">
                                    <div class="word" data-fittext data-fittext-min="22" data-fittext-max="45">
                                        {{word.name}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-relations related-buttons">
                            <div ng-repeat="item in word.related"><button type="button" class="btn btn-default btn-xs glyphicon glyphicon-remove" ng-click="relate.removeRelation(word, item)"> {{data.getObjectByID(item, "relate.html - card relations").name}}</button></div>
                        </div>

                    </div>
                </div>
                <button class="btn btn-default" ng-hide="relate.limitLeftReached()" ng-click="relate.raiseLimitLeft()">Load more</button>
            </div>




            <div class="col-xs-6">
                <div class="relations">
                    <div ng-repeat="word in relate.wordsRight| filter:searchRight | orderBy:'name' | limitTo:relate.limitRight"  ng-show="relate.languageRight">
                        <div class="flip card-small face back"  ng-click="relate.connectRightElement(word)" ng-class="{'selected' : relate.activeRight.id == word.id}">
                            <div class="general shadow-z-2">
                                <div class="flip-tag">
                                    {{word.tag}}
                                </div>
                                <div ng-class="{'sentence' : word.sentence}">
                                    <div class="word"  data-fittext data-fittext-min="22" data-fittext-max="45">
                                        {{word.name}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-relations related-buttons">
                            <div ng-repeat="item in word.related"><button type="button" class="btn btn-default btn-xs glyphicon glyphicon-remove" ng-click="relate.removeRelation(word, item)"> {{data.getObjectByID(item, "relate.html - card relations").name}}</button></div>
                        </div>

                    </div>
                </div>
                <button class="btn btn-default" ng-hide="relate.limitRightReached()" ng-click="relate.raiseLimitRight()">Load more</button>
            </div>
            
            

        </div>
        <!-- input areas for quickly adding words to languages and categories, e.g. to translate missing words -->
        <div class="panel-footer clearfix">
            <div class="col-xs-4">
                <!-- use an empty label to make sure that both inputs are equal in height, even when one language does not use special chars -->
                <label class="chars"></label><label class="chars" ng-repeat="char in data.getLanguageByID(relate.languageLeft).chars"  ng-click="relate.addCharToQuickWordLeft(char)">{{char}}</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="" ng-model="relate.quickWordLeftName">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="relate.saveWord(relate.quickWordLeftName, relate.category, relate.languageLeft)">{{'CREATE_WORD'| translate}}</button>
                    </span>
                </div><!-- /input-group -->
            </div>

            <div class="col-xs-3">
                <label>Category</label>
                <select ng-model="relate.category" ng-options="category.id as (category.name |   translate) group by category.group for category in data.categories"></select>
            </div>

            <div class="col-xs-4">
                <label class="chars"></label><label class="chars" ng-repeat="char in data.getLanguageByID(relate.languageRight).chars" ng-click="relate.addCharToQuickWordRight(char)">{{char}}</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="" ng-model="relate.quickWordRightName">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="relate.saveWord(relate.quickWordRightName, relate.category, relate.languageRight)">{{'CREATE_WORD'| translate}}</button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>
</div>