<!DOCTYPE html>
<!--
    This file is part of knowBetter.

    knowBetter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    knowBetter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with knowBetter.  If not, see <http://www.gnu.org/licenses/>.
-->


<md-toolbar layout="row" class="md-hue-2" flex>
    <div class="md-toolbar-tools">


        <md-select 
            ng-change="edit.updateWordsList(edit.translate_language_translate, edit.translate_language_known)"
            ng-model="edit.translate_language_translate"
            placeholder='{{"SOURCE_LANGUAGE"| translate}}'
            class="md-no-underline">
            <md-option ng-value="language.id" ng-repeat="language in data.languages">{{language.name}}</md-option>
        </md-select>

        <div flex='10'></div>

        <md-select 
            ng-change="edit.updateWordsList(edit.translate_language_translate, edit.translate_language_known)"
            ng-model="edit.translate_language_known"
            placeholder='{{"TARGET_LANGUAGE"| translate}}'
            class="md-no-underline">
            <md-option ng-value="language.id" ng-repeat="language in data.languages">{{language.name}}</md-option>
        </md-select>


    </div>
</md-toolbar>

<md-content layout='column'>
    <md-virtual-repeat-container id="vertical-container" style='min-height:400px'>
        <div md-virtual-repeat="word in edit.untranslatedWords" ng-hide='word.added_translation'
             class="repeated-item" flex>

            <div flex='30'>
                {{word.name}}
            </div>
            <div flex='70' layout='row'>
                <ul flex>
                    <li ng-repeat='relation in data.getRelatedWordsForLanguage(word, edit.translate_language_known)'>
                        {{relation.name}}
                    </li>
                    <li layout="row" flex>
                        <span layout="column" flex="90">
                            <md-input-container  class="md-block">
                                <label translate>{{'TRANSLATION'}}</label>
                                <input ng-model="word.translation" ng-change="word_exists = edit.checkWordExists(word.translation, edit.translate_language_known, null)">
                            </md-input-container>
                            <div ng-show="word_exists.length > 0">
                                <md-button ng-click='data.addRelationToObject(word.id, word_existing.id); word.added_translation = true' ng-repeat="word_existing in word_exists">
                                    {{word_existing.name}}
                                </md-button>
                            </div>
                            <div>
                                <span ng-click="word.translation = word.translation + char" class="chars" ng-repeat="char in data.getObjectByID(edit.translate_language_known, 'edit-edit.html').chars">{{char}}</span>
                            </div>
                        </span>
                    <md-button class="md-icon-button md-warn"
                               ng-click="edit.addTranslation(word, word.translation)"
                               aria-label="{{'ADD_TRANSLATION'| translate}}">
                        <i class="material-icons">add_circle</i>
                    </md-button>
                    </li>
                </ul>
            </div>



        </div>
    </md-virtual-repeat-container>
</md-content>