<!--
    This file is part of knowBetter.

    knowBetter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    knowBetter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with knowBetter.  If not, see <http://www.gnu.org/licenses/>.
-->
<md-toolbar layout="row" class="md-hue-2" flex>
    <div class="md-toolbar-tools">
        <span>{{ 'SETTINGS' | translate}}</span>
    </div>
</md-toolbar>

<md-toolbar layout="row" class="md-hue-2" ng-click="show_theme = !show_theme" ng-init="show_theme = true" flex>
    <div class="md-toolbar-tools">
        <span>{{"Appearance"| translate}}</span>
        <span flex></span>
    </div>
</md-toolbar>

<div ng-show="show_theme" layout="row">
    <md-button class="md-icon-button md-warn" ng-click="showHelp($event, 'HELP_THEME', 'HELP_THEME_CONTENT')" aria-label="{{'HELP_THEME'| translate}}">
        <i class="material-icons" >message</i>
    </md-button>
    <md-select placeholder="{{'SELECT_COLOR'| translate}}" ng-model="theme" ng-change="data.setUserTheme(theme)" flex="30">
        <md-option ng-value="color" ng-repeat="color in data.themes">{{color}}</md-option>
    </md-select>
</div>

<md-toolbar layout="row" class="md-hue-2" ng-click="database = !database" ng-init="database = true" flex>
    <div class="md-toolbar-tools">
        <span>{{"DATABASE"| translate}}</span>
        <span flex></span>
        <span class="pull-right" ng-show="!database"><i class="material-icons">expand_more</i></span>
        <span class="pull-right" ng-show="database"><i class="material-icons">expand_less</i></span>
    </div>
</md-toolbar>

<md-content ng-show="database">
    <div class="cleanup">
        <md-toolbar layout="row" class="md-hue-2" flex>
            <div class="md-toolbar-tools">
                <span>{{"DATABASE_MAINTENANCE"| translate}}</span>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-button class="md-icon-button md-warn" ng-click="showHelp($event, 'HELP_FIND_DUPLICATES', 'HELP_FIND_DUPLICATES_CONTENT')" aria-label="{{'HELP_FIND_DUPLICATES'| translate}}">
            <i class="material-icons" >message</i>
        </md-button>
        <md-button ng-click="duplicates = data.findDuplicateWordEntries()">{{'FIND_DUPLICATES'| translate}}</md-button>


        <div ng-show='duplicates && duplicates.length > 0'>
            <h3>{{'WORDS'| translate}}</h3>
            <md-card ng-repeat="object in duplicates | limitTo:20" ng-hide='decided' ng-init='decided = false'>
                <md-card-header>
                    <md-card-header-text>
                        <span class="md-title">{{data.getLanguageByID(object[1].language_ID).name}} - {{object[1].name}}</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content layout="row">
                    <div flex="50">
                        {{object[1].name}}
                        <br>
                        {{"ID"| translate}}: {{object[1].id}}
                        <br>
                        {{"CATEGORIES"| translate}}:                      
                        <md-chips ng-model="categories1" ng-init="categories1 = data.getObjectArrayFromIDs(object[1].categories_IDs)" readonly="true">
                            <md-chip-template>
                                {{$chip.name}}
                            </md-chip-template>
                        </md-chips>
                        <br>
                        {{"RELATIONS"| translate}}
                        <md-chips ng-model="relations1" ng-init="relations1 = data.getObjectArrayFromIDs(object[1].related_IDs)" readonly="true">
                            <md-chip-template>
                                {{$chip.name}}
                            </md-chip-template>
                        </md-chips>
                    </div>

                    <div flex="50">
                        {{object[0].name}}
                        <br>
                        {{"ID"| translate}}: {{object[0].id}}
                        <br>
                        {{"CATEGORIES"| translate}}:                      
                        <md-chips ng-model="categories0" ng-init="categories0 = data.getObjectArrayFromIDs(object[0].categories_IDs)" readonly="true">
                            <md-chip-template>
                                {{$chip.name}}
                            </md-chip-template>
                        </md-chips>
                        <br>
                        {{"RELATIONS"| translate}}
                        <md-chips ng-model="relations0" ng-init="relations0 = data.getObjectArrayFromIDs(object[0].related_IDs)" readonly="true">
                            <md-chip-template>
                                {{$chip.name}}
                            </md-chip-template>
                        </md-chips>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click='data.deleteObjectByID(object[0].id); data.storeObject(object[1]); decided = true; duplicates.splice($index, 1)'>{{'KEEP_LEFT'| translate}}</md-button>
                    <md-button ng-show="data.isWord(object[0]) && data.isWord(object[1])" ng-click='edit.mergeObjects(object); decided = true; duplicates.splice($index, 1)'>{{'MERGE_BOTH'| translate}}</md-button>
                    <md-button ng-show="object[0].id !== object[1].id" ng-click='data.storeObject(object[1]); data.storeObject(object[0]); decided = true; duplicates.splice($index, 1)'>{{'KEEP_BOTH'| translate}}</md-button>
                    <md-button ng-click='data.storeObject(object[0]); data.deleteObjectByID(object[1].id); decided = true; duplicates.splice($index, 1)'>{{'KEEP_RIGHt'| translate}}</md-button>
                </md-card-actions>
            </md-card>
        </div>

    </div>

    <div class="import">
        <md-toolbar layout="row" class="md-hue-2" flex>
            <div class="md-toolbar-tools">
                <span>{{"IMPORT"| translate}}</span>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-button class="md-icon-button md-warn" ng-click="showHelp($event, 'HELP_IMPORT', 'HELP_IMPORT_CONTENT')" aria-label="{{'HELP_IMPORT'| translate}}">
            <i class="material-icons" >message</i>
        </md-button>
        <md-button ng-disabled="import_languages || import_words || import_categories || import_users || import_comments" ng-click="conflicts = importData.loadAndMergeDataFromFile()">{{'IMPORT_DATA'| translate}}</md-button>


        <md-content ng-show="conflicts && conflicts.length > 0" layout-padding>
            <h2>{{'CONFLICTS'| translate }}</h2>
            <div ng-show='conflicts[0] && conflicts[0].length > 0'>
                <h3>{{'LANGUAGES'| translate}}</h3>
                <md-card ng-repeat="object in conflicts[0]" ng-hide='decided' ng-init='decided = false'>
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">{{object[1].name}}</span>
                            <span class="md-subhead">{{object[1].key}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content layout="row">
                        <div>
                            {{"LANGUAGE"| translate }}: {{object[1].name}}
                            <br>
                            {{"ID"| translate}}: {{object[1].id}}
                            <br>
                            {{"SPECIAL_CHARS"| translate}}: {{object[1].chars}}
                        </div>
                        <div>
                            {{"LANGUAGE"| translate}}: {{object[0].name}}
                            <br>
                            {{"ID"| translate}}: {{object[0].id}}
                            <br>
                            {{"SPECIAL_CHARS"| translate}}: {{object[0].chars}}
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click='decided = true'>{{'KEEP_OLD'| translate}}</md-button>
                        <md-button ng-click='data.storeObject(object); decided = true'>{{'KEEP BOTH'| translate}}</md-button>
                        <md-button ng-click='data.overwriteObject(object); decided = true'>{{'KEEP_NEW'| translate}}</md-button>
                    </md-card-actions>
                </md-card>
            </div>

            <div ng-show='conflicts[1] && conflicts[1].length > 0'>
                <h3>{{'CATEGORIES'| translate}}</h3>
                <md-card ng-repeat="object in conflicts[1]" ng-hide='decided' ng-init='decided = false'>
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">{{object[1].name}}</span>
                            <span class="md-subhead">{{object[1].group}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content layout="row">
                        <div>
                            {{"ID"| translate}}: {{object[1].id}}
                        </div>
                        <div>
                            {{"ID"| translate}}: {{object[0].id}}
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click='decided = true'>{{'KEEP_OLD'| translate}}</md-button>
                        <md-button ng-click='data.storeObject(object); decided = true'>{{'KEEP BOTH'| translate}}</md-button>
                        <md-button ng-click='data.overwriteObject(object); decided = true'>{{'KEEP_NEW'| translate}}</md-button>
                    </md-card-actions>
                </md-card>
            </div>

            <div ng-show='conflicts[2] && conflicts[2].length > 0'>
                <h3>{{'WORDS'| translate}}</h3>
                <md-card ng-repeat="object in conflicts[2]| limitTo:20" ng-hide='decided' ng-init='decided = false'>
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">{{object[1].name}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content layout="row">
                        <div flex="50">
                            {{"NEW"| translate}}: {{object[1].name}}
                            <br>
                            {{"ID"| translate}}: {{object[1].id}}
                            <br>
                            {{"CATEGORIES"| translate}}:                      
                            <md-chips ng-model="categories1" ng-init="categories1 = data.getObjectArrayFromIDs(object[1].categories_IDs)" readonly="true">
                                <md-chip-template>
                                    {{$chip.name}}
                                </md-chip-template>
                            </md-chips>
                            <br>
                            {{"RELATIONS"| translate}}
                            <md-chips ng-model="relations1" ng-init="relations1 = data.getObjectArrayFromIDs(object[1].related_IDs)" readonly="true">
                                <md-chip-template>
                                    {{$chip.name}}
                                </md-chip-template>
                            </md-chips>
                        </div>

                        <div flex="50">
                            {{"OLD"| translate}}: {{object[0].name}}
                            <br>
                            {{"ID"| translate}}: {{object[0].id}}
                            <br>
                            {{"CATEGORIES"| translate}}:                      
                            <md-chips ng-model="categories0" ng-init="categories0 = data.getObjectArrayFromIDs(object[0].categories_IDs)" readonly="true">
                                <md-chip-template>
                                    {{$chip.name}}
                                </md-chip-template>
                            </md-chips>
                            <br>
                            {{"RELATIONS"| translate}}
                            <md-chips ng-model="relations0" ng-init="relations0 = data.getObjectArrayFromIDs(object[0].related_IDs)" readonly="true">
                                <md-chip-template>
                                    {{$chip.name}}
                                </md-chip-template>
                            </md-chips>
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click='data.deleteObjectByID(object[0].id); data.storeObject(object[1]); decided = true; conflicts[2].splice($index, 1)'>{{'KEEP_LEFT'| translate}}</md-button>
                        <md-button ng-show="data.isWord(object[0]) && data.isWord(object[1])" ng-click='edit.mergeObjects(object); decided = true; conflicts[2].splice($index, 1)'>{{'MERGE_BOTH'| translate}}</md-button>
                        <md-button ng-show="object[0].id !== object[1].id" ng-click='data.storeObject(object[1]); data.storeObject(object[0]); decided = true; conflicts[2].splice($index, 1)'>{{'KEEP_BOTH'| translate}}</md-button>
                        <md-button ng-click='data.storeObject(object[0]); decided = true; conflicts[2].splice($index, 1)'>{{'IMPORT_RIGHT'| translate}}</md-button>
                    </md-card-actions>
                </md-card>
            </div>

            <div ng-show='conflicts[3] && conflicts[3].length > 0'>
                <h3>{{'COMMENTS'| translate}}</h3>
                <md-card ng-repeat="object in conflicts[3]" ng-hide='decided' ng-init='decided = false'>
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">{{object[1].name}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content layout="row">
                        <div>
                            {{object[1].id}}
                            <br>
                            {{object[1].related_IDs}}
                        </div>
                        <div>
                            {{object[0].id}}
                            <br>
                            {{object[0].related_IDs}}
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click='decided = true'>{{'KEEP_OLD'| translate}}</md-button>
                        <md-button ng-click='object[1].id = data.getNewID(); data.storeObject(object[1]); decided = true'>{{'KEEP BOTH'| translate}}</md-button>
                        <md-button ng-click='data.overwriteObject(object); decided = true'>{{'KEEP_NEW'| translate}}</md-button>
                    </md-card-actions>
                </md-card>
            </div>

            <div ng-show='conflicts[4] && conflicts[4].length > 0'>
                <h3>{{'USERS'| translate}}</h3>
                <md-card ng-repeat="object in conflicts[4]" ng-hide='decided' ng-init='decided = false'>
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title">{{object[1].name}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content layout="column">
                        <div>
                            {{object[1].id}}
                            <br>
                            {{object[1].languageKnown_id}}
                        </div>
                        <div>
                            {{object[0].id}}
                            <br>
                            {{object[0].languageKnown_id}}
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click='decided = true'>{{'KEEP_OLD'| translate}}</md-button>
                        <md-button ng-click='object[1].id = data.getNewID(); data.storeObject(object[1]); decided = true'>{{'KEEP BOTH'| translate}}</md-button>
                        <md-button ng-click='object[1].id = object[0].id; data.overwriteObject(object[1]); decided = true'>{{'KEEP_NEW'| translate}}</md-button>
                    </md-card-actions>
                </md-card>
            </div>


        </md-content>

    </div>

    <div class="export">
        <md-toolbar layout="row" class="md-hue-2" flex>
            <div class="md-toolbar-tools">
                <span>{{"EXPORT_DATA"| translate}}</span>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content>
            <md-button class="md-icon-button md-warn" ng-click="showHelp($event, 'HELP_CLEAR_BROWSER_STORAGE', 'HELP_CLEAR_BROWSER_STORAGE_CONTENT')" aria-label="{{'HELP_CLEAR_BROWSER_STORAGE'| translate}}">
                <i class="material-icons" >message</i>
            </md-button>
            <md-button ng-click="data.clearLocalStorage()">{{'CLEAR_BROWSER_STORAGE'| translate}}</md-button>

            <md-button class="md-icon-button md-warn" ng-click="showHelp($event, 'HELP_BACKUP', 'HELP_BACKUP_CONTENT')" aria-label="{{'HELP_BACKUP'| translate}}">
                <i class="material-icons" >message</i>
            </md-button>
            <md-button ng-click="exportData.exportContent('knowBetter')">{{'BACKUP_DATABASE'| translate}}</md-button>

            <md-button class="md-icon-button md-warn" ng-click="showHelp($event, 'HELP_EXPORT', 'HELP_EXPORT_CONTENT')" aria-label="{{'HELP_EXPORT'| translate}}">
                <i class="material-icons" >message</i>
            </md-button>    
            <md-button ng-click="exportData.exportContent('import')">{{'EXPORT_DATABASE'| translate}}</md-button>

            <md-button class="md-icon-button md-warn" ng-click="showHelp($event, 'HELP_AUDIO_CUTLIST', 'HELP_AUDIO_CUTLIST_CONTENT')" aria-label="{{'HELP_AUDIO_CUTLIST'| translate}}">
                <i class="material-icons" >message</i>
            </md-button>    
            <md-button ng-click="exportData.exportAudacityLabelsCutlist(data.user.languageKnown_id)">{{'EXPORT_AUDIO_CUTLIST_IDS'| translate}}</md-button>
            <md-button ng-click="exportData.exportAudacityLabelsCutlist(data.user.languageKnown_id, true)">{{'EXPORT_AUDIO_CUTLIST_WORDS'| translate}}</md-button>
            <md-button ng-click="exportData.exportListByCategory()">{{'EXPORT_CSV_DATA' | translate}}</md-button>
        </md-content>

    </div>
</md-content>
