<!--
    This file is part of knowBetter.

    knowBetter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    knowBetter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with knowBetter.  If not, see <http://www.gnu.org/licenses/>.
-->


<md-tabs md-dynamic-height md-border-bottom class="md-primary md-hue-0">
    <md-tab label='{{"EDIT" | translate}}'>
        <edit></edit>
    </md-tab>
    <!-- 
    <md-tab label="{{'RELATIONS' | translate}}">
        <relate></relate>
    </md-tab>
    <md-tab label="{{'RELATIONS_CATEGORIES' | translate }}">
        <relate-category></relate-category>
    </md-tab>
    -->
    <md-tab label='{{"SETTINGS" | translate }}'>
        <settings></settings>
    </md-tab>
    <md-tab label='{{"TRANSLATE" | translate }}' md-on-select="edit.translateEditorActive = true" md-on-deselect="edit.translateEditorActive = false">
        <translate></translate>
    </md-tab>
    <md-tab label='{{"STATISTICS" | translate }}' md-on-select="stats.calculateStats(data)">
        <statistics></statistics>
    </md-tab>
</md-tabs>
