<!--
    This file is part of knowBetter.

    knowBetter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    knowBetter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with knowBetter.  If not, see <http://www.gnu.org/licenses/>.
-->


<md-toolbar layout="row" class="md-hue-3" flex>
    <div class="md-toolbar-tools">
        <md-button ng-click="edit.createWord()" class="md-raised" aria-label="{{'CREATE_WORD'| translate }}">
            {{'CREATE_WORD'}}
        </md-button>


        <md-autocomplete flex
                         style="margin-top:25px"
                         md-input-name="autocompleteField"
                         md-input-minlength="1"
                         md-no-cache="true"
                         md-selected-item="edit.editWord"
                         md-search-text="edit.searchText"
                         md-items="word in data.words | filter:edit.searchText | orderBy:'name.length' | limitTo:25"
                         md-item-text="word.name"
                         md-selected-item-change="edit.loadWord(edit.editWord)"
                         md-floating-label="{{'EDIT_WORD'| translate}}">
            <md-item-template>
                <span>{{word.name}} [{{data.getObjectByID(word.language_ID, 'edit-edit.html').name}}]</span>
            </md-item-template>
        </md-autocomplete>

    </div>
</md-toolbar>



<md-content class="md-padding" layout="column" layout-xs="column" layout-wrap>

    <md-toolbar layout="row" class="md-hue-2" flex>
        <div class="md-toolbar-tools">
            <span>{{"WORD"| translate}}</span>
        </div>
    </md-toolbar>

    <div>
        <div layout="row" layout-sm="column">
            <div layout="row">

                <!-- LANGUAGE -->
                <!--
                <md-button class="md-icon-button md-warn" ng-click="showHelp($event, 'HELP_LANGUAGE', 'HELP_LANGUAGE_CONTENT')" aria-label="Language help">
                    <i class="material-icons" >message</i>
                </md-button>                
                -->

                <md-input-container>
                    <label>{{ 'LANGUAGE' | translate}}</label>
                    <md-select ng-model="edit.newWord.language_ID">
                        <md-option ng-value="language.id" ng-repeat="language in data.languages">{{language.name}}</md-option>
                    </md-select>
                </md-input-container>

                <!--
                <md-button class="md-icon-button md-accent" ng-click="showDialog($event, 'editLanguage.html')">
                    <i class="material-icons">add_circle</i>
                </md-button>
                
                -->



                <!-- CATEGORY -->

                <div layout="row">
                    <md-button class="md-icon-button md-warn" data-remodal-target='#help-category' aria-label="Category help">
                        <i class="material-icons" >message</i>
                    </md-button>   
                    <md-input-container flex>
                        <label>{{'CATEGORY'| translate}}</label>
                        <md-select ng-model="edit.newWord.categories_IDs" multiple>
                            <md-optgroup ng-repeat="cat_group in data.getCategoryGroups()" label="{{data.getCategoryGroupTranslated(cat_group)}}">
                                <md-option ng-value="category.id" ng-repeat="category in data.categories| filter: {group: cat_group }">{{category.name| translate}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>

        <!-- WORD & IS_SENTENCE -->
        <div layout="row" flex>

            <md-button class="md-icon-button md-warn" ng-click='showTemplateHelp($event, "helpWords.html")' aria-label="{{'HELP_WORD'| translate}}">
                <i class="material-icons" >message</i>
            </md-button>
            <div layout="column" flex>
                <div>
                    <md-input-container  class="md-block">
                        <label translate>{{'WORD'}}</label>
                        <input required id="word_name" name="{{'WORD'| translate}}" ng-model="edit.newWord.name" ng-change='word_exists = edit.checkWordExists(edit.newWord.name, edit.newWord.language_ID, edit.newWord.id)'>
                        <md-tooltip md-visible='edit.wordsSame' md-direction="top">
                            {{'WORD_ALREADY_EXISTS'| translate}}: <span ng-repeat="word in edit.wordsSame">{{word.name}}  </span>
                        </md-tooltip>
                    </md-input-container>
                </div>
                <div ng-show="word_exists.length > 0">
                    <md-button ng-click='edit.loadWord(word_existing)' ng-repeat="word_existing in word_exists">
                        {{word_existing.name}}
                    </md-button>
                </div>
                <md-content style="max-width: 480px">
                    <span ng-click="edit.newWord.name = edit.newWord.name + char;  document.getElementById('word_name').focus(); word_exists = edit.checkWordExists(edit.newWord.name, edit.newWord.language_ID, edit.newWord.id)" class="chars" ng-repeat="char in data.getObjectByID(edit.newWord.language_ID, 'edit-edit.html').chars">{{char}}</span>
                </md-content>
            </div>
            <md-checkbox ng-model="edit.newWord.sentence" aria-label="{{'IS_SENTENCE'| translate}}" flex-gt-sm="33">
                {{'IS_SENTENCE'| translate }}
            </md-checkbox>
        </div>

        <!-- TAGS -->

        <div layout="row">
            <md-button class="md-icon-button md-warn" ng-click="showHelp($event, 'HELP_TAGS', 'HELP_TAGS_CONTENT')" aria-label="Tags help">
                <i class="material-icons" >message</i>
            </md-button>
            <span layout="column" flex-gt-sm="66">
                <div>
                    <md-chips ng-model="edit.newWord.tags" md-autocomplete-snap=""  md-require-match="false" >

                        <md-autocomplete
                            ng-init="edit.tag.searchText = ''"
                            md-selected-item="edit.tag.selectedItem"
                            md-search-text="edit.tag.searchText"
                            md-no-cache="true"
                            md-items="item in data.getAllTags(edit.newWord.language.id, edit.newWord.tags, edit.tag.searchText)"
                            md-transform-chip="edit.transformChip($chip)"
                            md-item-text="item"
                            md-require-match="false"
                            md-floating-label="{{'ADD_TAGS'| translate }}">
                            <span>{{item.name}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>
                                {{$chip.name}}
                                <md-button class="md-button" md-on-select="edit.tagEdit = $chip; showTemplateHelp($event, 'editTag.html')">
                                    Edit
                                </md-button>
                            </span>
                        </md-chip-template>
                    </md-chips>
                </div>
                <md-content style="margin-top: 48px; max-width: 480px">
                    <span ng-click="edit.tag.searchText = edit.tag.searchText + char" class="chars" ng-repeat="char in data.getObjectByID(edit.newWord.language_ID, 'edit-edit.html').chars">{{char}}</span>
                </md-content>
            </span>


            <!-- FORM PRIMARY -->

            <md-button class="md-icon-button md-warn" ng-click="showHelp($event, 'HELP_FORM_PRIMARY', 'HELP_FORM_PRIMARY_CONTENT')" aria-label="Primary Forms help">
                <i class="material-icons" >message</i>
            </md-button>
            <span layout="column" flex-gt-sm="90">
                <md-input-container  class="md-block" flex-gt-sm="90">
                    <label translate>{{'FORM_PRIMARY_NAME'}}</label>
                    <input ng-model="edit.newWord.formPrimaryName">
                </md-input-container>
                <md-content style="max-width: 480px">
                    <span ng-click="edit.newWord.formPrimaryName = edit.newWord.formPrimaryName + char" class="chars" ng-repeat="char in data.getObjectByID(edit.newWord.language_ID, 'edit-edit.html').chars">{{char}}</span>
                </md-content>
            </span>
        </div>


        <!-- RELATIONS -->

        <div layout="row">
            <md-button class="md-icon-button md-warn" ng-click="showHelp($event, 'HELP_RELATIONS', 'HELP_RELATIONS_CONTENT')" aria-label="{{'RELATIONS_HELP'| translate }}">
                <i class="material-icons" >message</i>
            </md-button>
            <span layout="column" flex>
                <md-autocomplete 
                    ng-init="edit.searchRelationText = ''"
                    md-input-name="autocompleteField"
                    md-input-minlength="1"
                    md-no-cache="true"
                    md-selected-item="edit.newRelation"
                    md-search-text="edit.searchRelationText"
                    md-items="word in data.words | filter:edit.searchRelationText | orderBy:'name.length' | limitTo:25"
                    md-item-text="word.name"
                    md-selected-item-change="edit.addRelation(word.id); edit.searchRelationText = ''"
                    md-floating-label="{{'ADD_RELATION'| translate }}">
                    <md-item-template>
                        <span>{{word.name}} [{{data.getObjectByID(word.language_ID, 'edit-edit.html search and add relations').name}}]</span>
                    </md-item-template>
                </md-autocomplete>
                <md-content style="max-width: 480px">
                    <span ng-click="edit.searchRelationText = edit.searchRelationText + char" class="chars" ng-repeat="char in data.getObjectByID(edit.newWord.language_ID, 'edit-edit.html').chars">{{char}}</span>
                </md-content>
            </span>
        </div>
        <div class=''>
            <ul>
                <li ng-repeat="related_id in edit.newWord.related_IDs">
                <md-button class="md-icon-button md-warn" ng-click="edit.removeRelation(related_id)" aria-label="{{'HELP_RELATIONS'| translate}}" flex="1ß">
                    <i class="material-icons" >clear</i>
                </md-button>
                <span flex="75">
                    {{edit.shortenText(data.getObjectByID(related_id, "edit.html RELATIONS").name)}}
                </span>
                <md-button class="md-icon-button md-warn" ng-click="edit.loadWord(data.getObjectByID(related_id, 'edit-edit.html relations'))" aria-label="{{'HELP_RELATIONS'| translate}}" flex='10'>
                    <i class="material-icons" >create</i>
                </md-button>

                </li>
            </ul>
        </div>
    </div>



    <!-- WORD FORMS -->
    <md-toolbar layout="row" class="md-hue-2" ng-click="switch_word_edit_forms = !switch_word_edit_forms" flex>
        <div class="md-toolbar-tools">
            <span>{{"WORD_FORMS"| translate}}</span>
            <span flex></span>
            <span class="pull-right" ng-show="!switch_word_edit_forms"><i class="material-icons">expand_more</i></span>
            <span class="pull-right" ng-show="switch_word_edit_forms"><i class="material-icons">expand_less</i></span>
        </div>
    </md-toolbar>
    <div ng-show="switch_word_edit_forms" layout='column'>

        <!-- ADD PRIMARY FORMS -->

        <div layout="row">
            <md-button class="md-icon-button md-warn" ng-click="showHelp($event, 'HELP_ADD_PRIMARY_FORM', 'HELP_ADD_PRIMARY_FORM_CONTENT')" aria-label="Add Form Primary help">
                <i class="material-icons" >message</i>
            </md-button>
            <span layout="column" flex-gt-sm="30">
                <md-input-container  class="md-block">
                    <label translate>{{'FORM_PRIMARY_NAME'}}</label>
                    <input ng-model="edit.formPrimaryName" id="edit_form_primary_name" ng-focus="edit.setFocus('edit_form_primary_name')">
                </md-input-container>
                <md-content style="max-width: 480px">
                    <span ng-click="edit.formPrimaryName = edit.formPrimaryName + char" class="chars" ng-repeat="char in data.getObjectByID(edit.newWord.language_ID, 'edit-edit.html').chars">{{char}}</span>
                </md-content>
            </span>
            <span layout="column" flex-gt-sm="50">
                <md-input-container  class="md-block" layout='row' flex-gt-sm="50">
                    <label translate>{{'FORM_PRIMARY_WORD'}}</label>
                    <input ng-model="edit.formPrimaryWord"  id="edit_form_primary_word" ng-focus="edit.setFocus('edit_form_primary_word')">
                </md-input-container>
                <div>
                    <span ng-click="edit.formPrimaryWord = edit.formPrimaryWord + char" class="chars" ng-repeat="char in data.getObjectByID(edit.newWord.language_ID, 'edit-edit.html').chars">{{char}}</span>
                </div>
            </span>
            <md-button class="md-icon-button md-warn"
                       ng-click="edit.addFormPrimary(edit.formPrimaryWord, edit.formPrimaryName); edit.formPrimaryWord = ''; edit.formPrimaryName = ''"
                       aria-label="{{'ADD_FORM_PRIMARY'| translate}}">
                <i class="material-icons">add_circle</i>
            </md-button>
        </div>

        <!-- PRIMARY FORMS -->
        <div layout="row" layout-sm="column">
            <ul>
                <li ng-repeat="form_id in edit.newWord.formsPrimary_IDs">
                    {{data.getObjectByID(form_id, "edit-edit.html formsPrimary").name}} [{{data.getObjectByID(form_id, "edit-edit.html").formPrimaryName}}]
                </li>
            </ul>
        </div>

        <!-- ADD SECONDARY FORMS -->

        <div layout="column">
            <div layout="row">
                <md-button class="md-icon-button md-warn" ng-click="showHelp($event, 'HELP_ADD_SECONDARY_FORM', 'HELP_ADD_SECONDARY_FORM_CONTENT')" aria-label="Secondary Forms help">
                    <i class="material-icons" >message</i>
                </md-button>
                <span layout="row" flex="100">
                    <span layout="column" flex-gt-sm="30">
                        <md-input-container  class="md-block">
                            <label translate>{{'FORM_SECONDARY_NAME'}}</label>
                            <input ng-model="edit.formSecondaryName"  id="edit_form_secondary_name" ng-focus="edit.setFocus('edit_form_secondary_name')">
                        </md-input-container>
                        <md-content style="max-width: 480px">
                            <span ng-click="edit.formSecondaryName = edit.formSecondaryName + char" class="chars" ng-repeat="char in data.getObjectByID(edit.newWord.language_ID, 'edit-edit.html').chars">{{char}}</span>
                        </md-content>

                    </span>
                    <span layout="column" flex-gt-sm="50">
                        <md-input-container  class="md-block">
                            <label translate>{{'FORM_SECONDARY_WORD'}}</label>
                            <input ng-model="edit.formSecondary" id="edit_form_secondary_word" ng-focus="edit.setFocus('edit_form_secondary_word')">
                        </md-input-container>
                        <md-content style="max-width: 480px">
                            <span ng-click="edit.formSecondary = edit.formSecondary + char" class="chars" ng-repeat="char in data.getObjectByID(edit.newWord.language_ID, 'edit-edit.html').chars">{{char}}</span>
                        </md-content>
                    </span>
                    <!-- Button for adding new secondary forms -->
                    <md-button class="md-icon-button md-warn"
                               ng-click="edit.addFormSecondary(edit.formSecondaryName, edit.formSecondary); edit.formSecondaryName = ''; edit.formSecondary = ''"
                               aria-label="{{'HELP_FORM_PRIMARY'| translate}}"
                               ng-hide='edit.editingFormSecondary'>
                        <i class="material-icons">add_circle</i>
                    </md-button>
                    <!-- Button for editing existing forms -->
                    <md-button class="md-icon-button md-warn"
                               ng-click="edit.addFormSecondary(edit.formSecondaryName, edit.formSecondary, edit.formSecondaryIndex); edit.editingFormSecondary = false"
                               aria-label="{{'HELP_FORM_SECONDARY'| translate}}"
                               ng-hide='!edit.editingFormSecondary'>
                        <i class="material-icons">done</i>
                    </md-button>    
                </span>
            </div>

            <table style="width:100%">
                <tr>
                    <th>  </th> <!-- An empty header for the change order buttons for each form -->
                    <th>{{SECONDARY_FORM_NAME}}</th>
                    <th>{{SECONDARY_FORM}}</th>
                    <th>  </th> <!-- An empty header for the edit buttons for each form -->
                </tr>
                <tr ng-repeat="formSecondary in edit.newWord.formsSecondary track by $index">
                    <td>
                <md-button class="md-icon-button md-warn" ng-disabled="$index === 0" ng-click="edit.moveUpSecondaryForm($index)" aria-label="{{'HELP_RELATIONS'| translate}}">
                    <i class="material-icons" >expand_less</i>
                </md-button>
                <md-button class="md-icon-button md-warn" ng-disabled="$index >= (edit.newWord.formsSecondary.length - 1)" ng-click="edit.moveDownSecondaryForm($index)" aria-label="{{'HELP_RELATIONS'| translate}}">
                    <i class="material-icons" >expand_more</i>
                </md-button>
                </td>
                <td class='col-md-4'>{{edit.newWord.formsSecondaryNames[$index]}}</td>
                <td class='col-md-6'>{{formSecondary}}</td>
                <td>
                <md-button class="md-icon-button md-warn" ng-click="edit.editFormSecondary($index); edit.formSecondaryIndex = $index; edit.editingFormSecondary = true" aria-label="{{'HELP_RELATIONS'| translate}}">
                    <i class="material-icons" >edit</i>
                </md-button>
                <md-button class="md-icon-button md-warn" ng-click="edit.removeFormSecondary($index)" aria-label="{{'HELP_RELATIONS'| translate}}">
                    <i class="material-icons" >clear</i>
                </md-button>
                </td>   
                </tr>
            </table>
        </div>
    </div>

    <md-toolbar layout="row" class="md-hue-2" ng-click="switch_word_edit_context = !switch_word_edit_context" flex>
        <div class="md-toolbar-tools">
            <span>{{"WORD_CONTEXT"| translate}}</span>
            <span flex></span>
            <span class="pull-right" ng-show="!switch_word_edit_context"><i class="material-icons">expand_more</i></span>
            <span class="pull-right" ng-show="switch_word_edit_context"><i class="material-icons">expand_less</i></span>
        </div>
    </md-toolbar>


    <div ng-show="switch_word_edit_context">
        <div layout="row" flex="100">
            <md-button class="md-icon-button md-warn" ng-click="showHelp($event, 'HELP_COMMENTS', 'HELP_COMMENTS_CONTENT')" aria-label="Comments help" flex="10">
                <i class="material-icons" >message</i>
            </md-button>

            <md-select layout-margin ng-model="edit.comment.Language_ID" style='display: inline' flex="20">
                <md-option placeholder="{{'SELECT_LANGUAGE'| translate}}" ng-value="language.id" ng-repeat="language in data.languages">{{language.name}}</md-option>
            </md-select>

            <span layout="column" flex="60">
                <md-input-container  class="md-block">
                    <label translate>{{'COMMENT'}}</label>
                    <input ng-model="edit.comment.name" id="edit_comment_name" ng-focus="edit.setFocus('edit_comment_name')">
                </md-input-container>
                <md-content style="max-width: 480px">
                    <span ng-click="edit.comment.name = edit.comment.name + char" class="chars" ng-repeat="char in data.getObjectByID(edit.commentLanguage, 'edit-edit.html').chars">{{char}}</span>
                </md-content>
            </span>

            <md-button class="md-icon-button md-warn"
                       ng-disabled='!edit.comment && edit.comment.name < 2'
                       ng-click="edit.saveComment()"
                       aria-label="{{'CREATE_COMMENT'| translate}}" flex="10">
                <i class="material-icons">add_circle</i>
            </md-button>
        </div>
        <div flex="100">
            <div ng-show="edit.comments.length > 0 || edit.comments_created.length > 0">
                <ul><li ng-repeat="comment in edit.comments">{{comment.name}}
                    <md-button class="md-icon-button md-warn" ng-click="edit.deleteComment(comment)" aria-label="{{'HELP_RELATIONS'| translate}}">
                        <i class="material-icons" >clear</i>
                    </md-button>
                    </li>
                </ul>
            </div>
        </div>



        <!-- CONTEXT SENTENCES - if word is a sentence, it does not need further example sentences but example responses can be added using the other form below -->
        <div ng-show="!edit.newWord.sentence">
            <div layout='row' flex="100">
                <md-button class="md-icon-button md-warn" ng-click="showHelp($event, 'HELP_SENTENCES', 'HELP_SENTENCES_CONTENT')" aria-label="Comments help" flex="10">
                    <i class="material-icons" >message</i>
                </md-button>
                <span layout="column" flex="75">
                    <md-input-container  class="md-block">
                        <label translate>{{'CREATE_SENTENCE'}}</label>
                        <input ng-model="edit.sentence_name" id="edit_sentence_name" ng-focus="edit.setFocus('edit_sentence_name')">              
                    </md-input-container>
                    <md-content style="max-width: 480px">
                        <span ng-click="edit.sentence_name = edit.sentence_name + char; angular.element('#edit_sentence_name').focus();" class="chars" ng-repeat="char in data.getObjectByID(edit.newWord.language_ID, 'edit-edit.html').chars">{{char}}</span>
                    </md-content>
                </span>
                <md-button class="md-icon-button md-warn"
                           ng-click="edit.createSentence(edit.sentence_name); edit.sentence_name = ''"
                           aria-label="{{'CREATE_SENTENCE'| translate}}" flex="10">
                    <i class="material-icons">add_circle</i>
                </md-button>
            </div>


            <div ng-show="edit.sentences.length > 0 || edit.sentences_created.length > 0" flex="100">
                <ul><li ng-repeat="sentence in edit.sentences">
                    <md-button class="md-icon-button md-warn" ng-click="edit.removeRelation(sentence.id)" aria-label="{{'REMOVE_SENTENCE'| translate}}">
                        <i class="material-icons" >clear</i>
                    </md-button>
                    {{sentence.name}}
                    <md-button class="md-icon-button md-warn" ng-click="edit.loadWord(sentence)" aria-label="{{'EDIT_SENTENCE'| translate}}">
                        <i class="material-icons" >create</i>
                    </md-button>

                    </li>
                </ul>
                <ul><li ng-repeat="sentence in edit.sentences_created">{{sentence.name}}<button class="btn btn-xs glyphicon glyphicon-remove" type="button" ng-click="edit.deleteSentenceCreated(sentence)"></button></li></ul>
            </div>
        </div>

        <!-- CONTEXT RESPONSES - if word is sentence, allow adding possible resonses to that sentence to add context -->
        <div class="" ng-show="edit.newWord.sentence">
            <div layout='row'>
                <md-button class="md-icon-button md-warn" ng-click="showHelp($event, 'HELP_RESPONSES', 'HELP_RESPONSES_CONTENT')" aria-label="{{'HELP_RESPONSES'| translate}}">
                    <i class="material-icons" >message</i>
                </md-button>
                <span layout="column" flex-gt-sm="30">
                    <md-input-container  class="md-block" flex-gt-sm="30">
                        <label translate>{{'CREATE_RESPONSE'}}</label>
                        <input ng-model="edit.response" id="edit_response" ng-focus="edit.setFocus('edit_response')">
                    </md-input-container>
                    <md-content style="max-width: 480px">
                        <span ng-click="edit.response = edit.response + char" class="chars" ng-repeat="char in data.getObjectByID(edit.newWord.language_ID, 'edit-edit.html').chars">{{char}}</span>
                    </md-content>                    
                </span>
                <md-button class="md-icon-button md-warn"
                           ng-click="edit.createResponse()"
                           aria-label="{{'CREATE_RESPONSE'| translate}}">
                    <i class="material-icons">add_circle</i>
                </md-button>
            </div>
            <div layout='row'>
                <md-autocomplete flex
                                 md-input-name="autocompleteField"
                                 md-input-minlength="1"
                                 md-no-cache="true"
                                 md-selected-item="edit.selectedResponse"
                                 md-search-text="edit.searchResponseText"
                                 md-items="word in data.words | orderBy:'name' | filter:{language:edit.newWord.language_ID} | filter:{sentence:true} | filter:edit.searchResponseText | limitTo:15"
                                 md-item-text="word.name"
                                 md-selected-item-change="edit.addResponse(word.id)"
                                 md-floating-label="{{'ADD_EXISTING_RESPONSE'| translate }}">
                    <md-item-template>
                        <span>{{word.name}}</span>
                    </md-item-template>
                </md-autocomplete>

            </div>

            <div class=''>
                <ul>
                    <li ng-repeat="item in edit.newWord.responses_IDs">
                    <md-button class="md-icon-button md-warn" ng-click="edit.removeResponse(item)" aria-label="{{'REMOVE_RESPONSE'| translate}}">
                        <i class="material-icons" >clear</i>
                    </md-button>
                    {{data.getObjectByID(item, "edit.html RESPONSES").name}}
                    <md-button class="md-icon-button md-warn" ng-click="edit.loadWord(data.getObjectByID(item, 'edit-edit.html'))" aria-label="{{'EDIT_RESPONSE'| translate}}">
                        <i class="material-icons" >create</i>
                    </md-button>

                    </li>
                </ul>
            </div>


            <div class='' ng-show='edit.isResponseTo.length > 0'>
                <h3>{{'RESPONSE_FOR'| translate}}</h3>
                <ul>
                    <li ng-repeat="item in edit.isResponseTo">
                        {{item.name}}
                    <md-button class="md-icon-button md-warn" ng-click="edit.loadWord(item)" aria-label="{{'EDIT_RESPONSE'| translate}}">
                        <i class="material-icons" >create</i>
                    </md-button>

                    </li>
                </ul>
            </div>


        </div>
    </div>

    <md-toolbar layout="row" class="md-hue-2" flex>
        <div class="md-toolbar-tools">
            <md-button class="md-button md-warn"
                       ng-click="edit.deleteWord(edit.newWord)"
                       aria-label="{{'DELETE_WORD'| translate}}">
                {{'DELETE_WORD'| translate}} <i class="material-icons">delete</i> 
            </md-button>
            <span flex></span>
            <md-button class="md-button" ng-disabled="editForm.$invalid || editForm.$pending"
                       ng-click="data.storeWord(edit.newWord); edit.createWord()"
                       aria-label="{{'SAVE_WORD'| translate}}">
                {{'SAVE_WORD'| translate}} <i class="material-icons">add_circle</i> 
            </md-button>
        </div>
    </md-toolbar>

</md-content>

<script type="text/ng-template" id="helpWords.html">

    <md-dialog aria-label="{{'HELP_WORD | translate'}}"  ng-cloak>
    <form>
    <md-toolbar>
    <div class="md-toolbar-tools">
    <h2>{{'HELP_WORD' | translate}}</h2>
    <span flex></span>
    </div>
    </md-toolbar>
    <md-dialog-content>
    <div class="md-dialog-content">
    {{'HELP_WORD_CONTENT' | translate}}
    </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
    </md-dialog-actions>
    </form>
    </md-dialog>
</script>

<script type="text/ng-template" id="editTag.html">
    <md-dialog aria-label="{{'EDIT_TAG | translate'}}"  ng-cloak>
    <form>
    <md-toolbar>
    <div class="md-toolbar-tools">
    <h2>{{'EDIT_TAG' | translate}}</h2>
    <span flex></span>
    </div>
    </md-toolbar>
    <md-dialog-content>
    <div class="md-dialog-content">
    {{edit.tagEdit.name}}
    <md-input-container>
  <label>{{'TAG' | translate}}</label>
  <input ng-model="edit.tagEdit.name" required md-minlength="3" type="text">
            <md-checkbox ng-model="edit.tagEdit.isGlobal" aria-label="{{'TAG_GLOBAL' | translate }}">
            {{'TAG_GLOBAL' | translate}}: {{ edit.tagEdit.isGlobal }}
          </md-checkbox>
</md-input-container>
        <md-input-container ng-show="!edit.tagEdit.isGlobal">
          <label>Languages</label>
          <md-select ng-model="edit.tagEdit.languages_IDs" multiple>
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="language in data.languages" ng-value="language.id">
              {{language.name}}
            </md-option>
          </md-select>
        </md-input-container>
    
    </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
    </md-dialog-actions>
    </form>
    </md-dialog>
<script type='text/ng-template' id='editLanguage.html'>


    <md-dialog aria-label="{{'LANGUAGE_EDITOR' | translate}}" ng-controller="dataController as data" flex="50">
    <form>
    <md-toolbar>
    <div class="md-toolbar-tools">
    <h2>{{'LANGUAGE_EDITOR' | translate}}</h2>
    </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
    <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="{{'NEW_LANGUAGE' | translate}}">
    <md-content class="md-padding">
    <md-input-container  class="md-block" flex-gt-sm="100">
    <label translate>{{'NAME'}}</label>
    <input ng-model="edit.newLanguage.name">
    </md-input-container>
    <md-input-container  class="md-block" flex-gt-sm="100">
    <label translate>{{'SPECIAL_CHARACTERS'}}</label>
    <input ng-model="edit.newLanguage.chars">
    </md-input-container>
    <div class="md-toolbar-tools">
    <md-button ng-click="edit.saveLanguage(edit.newLanguage); hide()" class="md-primary pull-right">{{'CHANGE_LANGUAGE' | translate}}</md-button>
    </div>
    </md-content>
    </md-tab>
    <md-tab label="{{'EDIT_LANGUAGE' | translate }}">
    <md-content class="md-padding">
    <md-input-container  class="md-block" flex-gt-sm="100">
    <label translate>{{'NAME'}}</label>
    <input ng-model="edit.newWord.language.name">
    </md-input-container>
    <md-input-container  class="md-block" flex-gt-sm="100">
    <label translate>{{'SPECIAL_CHARACTERS'}}</label>
    <input ng-model="edit.newWord.language.chars">
    </md-input-container>
    <div class="md-toolbar-tools">
    <md-button ng-click="data.storeLanguage(edit.newWord.language); hide()" class="md-primary pull-right">{{'CHANGE_LANGUAGE' | translate}}</md-button>
    </div>
    </md-content>
    </md-tab>
    </md-tabs>
    </md-dialog-content>
    </form>
    </md-dialog>


</script>

<script type="text/ng-template" id="addWordsTemplate.html">
    <form name="addWords">
    <div class="row">
    <label>{{'LANGUAGE' | translate}}</label><select ng-model="edit.newWords.language" ng-options="language.name for language in data.languages | orderBy:'name'" required></select><button popover-template="'addLanguageTemplate.html'" popover-title="{{'CREATE_LANGUAGE' | translate}}" class="btn btn-default  btn-xs  glyphicon glyphicon-plus"> {{'LANGUAGE' | translate}}</button>
    <span class="row" ng-show="edit.newWords.language"><label class="chars" ng-repeat="char in edit.newWords.language.chars">{{char}}</label></span>
    </div>
    <div>
    <label>{{'CATEGORY' | translate}}</label><select ng-model="category_addWords" ng-options="category.id as (category.name | translate) group by category.group for category in data.categories" ng-change="edit.addCategoryToWords(category_addWords)"></select>
    <div><ul><li ng-repeat="category in edit.newWords.categories | orderBy:'name'"><button type="button" class="btn btn-default btn-sm glyphicon glyphicon-remove" ng-click="edit.removeWordsCategory(category)"> {{data.getObjectByID(category, "edit.html addLanguageTemplate.html").name | translate}}</button></li></ul></div>
    </div>


    <div class="row">
    <label>{{'WORDS' | translate}}</label><textarea class="form-control" ng-model="edit.newWords.words" rows="3" placeholder="{{'WORD' | translate}}, {{'TAG' | translate}}"></textarea>
    </div>
    <button class="btn btn-default glyphicon glyphicon glyphicon-save pull-right" ng-disabled="addWords.$invalid || addWords.$pending" ng-click="edit.saveWords(edit.newLanguage)">{{'SAVE_WORDS' | translate}}</button>
    </form>
</script>


