<!--
    This file is part of knowBetter.

    knowBetter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    knowBetter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with knowBetter.  If not, see <http://www.gnu.org/licenses/>.
-->


<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Select training and test methods</h2>
        </div>
        <div class="panel-body">

            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div ng-click="data.toggleUseFlipGrid()" class="panel panel-default">
                    <div class="panel-heading">
                        <h4><span class="glyphicon glyphicon-eye-open"></span> {{'TRAIN_FLIP_GRID'| translate }} <span ng-show="data.user.useFlipGrid" class="glyphicon glyphicon-ok"></span></h4>
                    </div>

                    <div class="panel-body">
                        <img class="text-center" ng-class="{ 'gray': !data.user.useFlipGrid }" src="./media/icons/learn-flip-grid.png" alt=""/>
                        <p>Good to get an overview regarding all the words in that category and helps memorize words as you can guess a translation before you turn the card.</p>
                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div ng-click="data.toggleUsePairs()" class="panel panel-default">
                    <div class="panel-heading">
                        <h4><span class="glyphicon glyphicon-eye-open"></span> {{'TRAIN_INDIVIDUAL_PAIRS'| translate }} <span ng-show="data.user.usePairs" class="glyphicon glyphicon-ok"></span></h4>
                    </div>

                    <div class="panel-body">
                        <img class="text-center" ng-class="{ 'gray': !data.user.usePairs }" src="./media/icons/learn-pairs.png" alt=""/>
                        <p>In this training phase you can focus on a word and its translation, taking your time to view example sentences and listen to the pronunciation (if audio available).</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div ng-click="data.toggleUseTranslate()" class="panel panel-default">
                    <div class="panel-heading">
                        <h4><span class="glyphicon glyphicon-pencil"></span> {{'TEST_TRANSLATE_WORD'| translate }} <span ng-show="data.user.useTranslate" class="glyphicon glyphicon-ok"></span></h4>
                    </div>

                    <div class="panel-body">
                        <img class="text-center" ng-class="{ 'gray': !data.user.useTranslate }" src="./media/icons/test-translate-word.png" alt=""/>
                        <p>On one side you will see the word in your familiar language, on the other side you will be asked to enter its translation into your target language. Hints will be given if necessary.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div ng-click="data.toggleUsePairsSelect()" class="panel panel-default">
                    <div class="panel-heading">
                        <h4><span class="glyphicon glyphicon-pencil"></span> {{'TEST_SELECT'| translate }} <span ng-show="data.user.usePairsSelect" class="glyphicon glyphicon-ok"></span></h4>
                    </div>

                    <div class="panel-body">
                        <img class="text-center" ng-class="{ 'gray': !data.user.usePairsSelect }" src="./media/icons/test-pair-select.png" alt=""/>
                        <p>Here a grid with words and their translations will be presented and you are asked to select a pair of words being translations for each other.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div ng-click="data.toggleUseListen()" class="panel panel-default">
                    <div class="panel-heading">
                        <h4><span class="glyphicon glyphicon-pencil"></span> {{'TEST_LISTEN'| translate }} <span ng-show="data.user.useListen" class="glyphicon glyphicon-ok"></span></h4>
                    </div>

                    <div class="panel-body">
                        <img class="text-center" ng-class="{ 'gray': !data.user.useListen }" src="./media/icons/test-listen.png" alt=""/>
                        <p>You will be able to play the audio version of a word and be asked to enter what you heard in the input field to the left. Good for practicing the listening skills.</p>
                    </div>                
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div ng-click="data.toggleUseFillGaps()" class="panel panel-default">
                    <div class="panel-heading">
                        <h4><span class="glyphicon glyphicon-pencil"></span> {{'TEST_GAP_SENTENCE'| translate }} <span ng-show="data.user.useFillGaps" class="glyphicon glyphicon-ok"></span></h4>
                    </div>

                    <div class="panel-body">
                        <img class="text-center" ng-class="{ 'gray': !data.user.useFillGaps }" src="./media/icons/test-fill-gaps.png" alt=""/>
                        <p>Words and sentences will be displayed and you should fill in the gaps with the correct letters. For this test it helps a lot to have familiarized yourself with the example sentences for the words.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button ng-click="test.next()" class="btn btn-primary" ng-disabled="!data.user.useFillGaps && !data.user.useFlipGrid && !data.user.usePairs && !data.user.useListen && !data.user.usePairsSelect && !data.user.useTranslate">Start test</button>
        </div>

    </div>
</div>