<!--
    This file is part of knowBetter.

    knowBetter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    knowBetter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with knowBetter.  If not, see <http://www.gnu.org/licenses/>.
-->

<md-content ng-controller="LanguageController" >

    <div ng-show="test.status === 'start'" translate-cloak>
        <md-content layout-margin layout-xs="column" layout="row" ng-cloak>

            <md-card flex-gt-sm='30' flex-sm='100'>
                <md-card-header>
                    <h2>1. {{'LANG_KNOWN_SELECT'| translate }}</h2>
                </md-card-header>
                <md-card-content>
                    <md-select ng-model="data.user.languageKnown_id" ng-change="changeLanguage(data.user.languageKnown_id); test.updateTestData()" layout-fill>
                        <md-option ng-value="language.id" ng-repeat="language in data.languages">{{language.name}}</md-option>
                    </md-select>
                </md-card-content>
            </md-card>

            <md-card flex-gt-sm='30' flex-sm='100'>
                <md-card-header>
                    <h2>2. {{'LANG_LEARN_SELECT'| translate }}</h2>
                </md-card-header>
                <md-card-content>
                    <md-select ng-model="data.user.languageLearn_id" ng-change="test.updateTestData()" layout-fill>
                        <md-option ng-value="language.id" ng-repeat="language in data.languages">{{language.name}}</md-option>
                    </md-select>
                </md-card-content>
            </md-card>

            <md-card flex-gt-sm='30' flex-sm='100'>
                <md-card-header>
                    <h2>3. {{'CATEGORY_SELECT'| translate }}</h2>
                </md-card-header>
                <md-card-content>
                    <md-select ng-model="data.user.category" ng-change="test.updateTestData()" layout-fill>
                        <md-optgroup ng-repeat="cat_group in data.getCategoryGroups()" label="{{data.getCategoryGroupTranslated(cat_group)}}">
                            <md-option ng-value="category.id" ng-repeat="category in data.categories| filter: {group: cat_group }">{{category.name| translate}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-card-content>
            </md-card>

            <md-card flex-gt-sm='30' flex-sm='100' ng-show='!data.user.category || !data.user.languageKnown_id || !data.user.languageLearn_id || (data.user.languageKnown_id === data.user.languageLearn_id)' >
                <md-card-header>
                    <md-card-title ng-show="!data.user.category">
                        {{'CATEGORY_SELECT'| translate}}
                    </md-card-title>
                    <md-card-title ng-show='!data.user.languageKnown_id'>
                        {{'LANG_KNOWN_SELECT'| translate}}
                    </md-card-title>
                    <md-card-title ng-show='!data.user.languageLearn_id'>
                        {{'LANG_LEARN_SELECT'| translate}}
                    </md-card-title>
                    <md-card-title ng-show='(data.user.languageKnown_id === data.user.languageLearn_id)'>
                        {{'ERROR_BOTH_LANGUAGES_SAME' | translate}}
                    </md-card-title>
                </md-card-header>
            </md-card>
            
            <md-button class='md-primary md-raised' ng-disabled="!data.user.category || !data.user.languageKnown_id || !data.user.languageLearn_id || data.user.languageKnown_id === data.user.languageLearn_id" ng-click="test.start();">
                {{'START' | translate}}
            </md-button>

        </md-content>

    </div>
</md-content>