<!--
    This file is part of knowBetter.

    knowBetter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    knowBetter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with knowBetter.  If not, see <http://www.gnu.org/licenses/>.
-->



<md-content class="md-padding" layout="row" layout-xs="column" layout-wrap>
    <div ng-repeat="pair in test.translationPairsAudio track by pair.index" ng-show="pair.index === test.currentPair" layout="row" layout-xs="column">
        <md-card style="min-width:100px">

            <div class="md-media-lg card-media md-48" layout="center center">
                <md-button style="min-height:80px" ng-show="pair[1].hasAudio" aria-label="play audio of {{pair[1].name}}" class="md-icon-button flex" ng-click="pair[1].playAudio(pair[1].audio);
                        $event.stopPropagation()">
                    <i class="material-icons md-48">play_circle_outline</i>
                </md-button>
            </div>

        </md-card>
        <md-card>

            <md-card-title>
                <md-card-title-text>
                    <span ng-show="pair.solved" class="md-headline">
                        {{pair[1].name}} <md-button class="md-icon-button"> <i class="material-icons">done</i> </md-button>
                    </span>
                    <span ng-show="!pair.solved">
                        <h3>
                            <form name="colorForm" ng-submit="pair.checkAnswer(pair)">
                                <md-input-container>
                                    <input type="text" placeholder="{{ 'TRANSLATION' | translate }}" ng-model="pair.answer"  class="form-control big kb-input-translate">
                                    <md-button class="md-icon-button" ng-click="pair.checkAnswer(pair)" ng-class="{'md-warn' : pair.offerHint > 0}">  <i class="material-icons">panorama_fish_eye</i> </md-button>
                                </md-input-container>
                            </form>
                        </h3>
                        <label class="chars" ng-repeat="char in data.getLanguageByID(pair[1].language_ID).chars"  ng-click="test.addCharToAnswer(pair, char)">{{char}}</label>
                    
                        <div ng-show="pair.offerHint > 0">{{pair.getHint(pair[1].name, pair.offerHint)}}</div>
                        
                    </span>
                </md-card-title-text>
            </md-card-title>

        </md-card>
    </div>
</md-content>