<!--
    This file is part of knowBetter.

    knowBetter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    knowBetter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with knowBetter.  If not, see <http://www.gnu.org/licenses/>.
-->


    <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4" md-row-height="200px" flex>

        <md-grid-tile ng-repeat="word in test.words" md-colspan="1" md-rowspan="1" layout-padding layout-margin>

            <md-card  ng-click="test.selectAndCheck(test.words[$index]);" md-colors="{background: '{{test.getBackgroundStatus(word.status)}}'}">
                <md-card-title>
                    <md-card-title-text style="text-align:center">
                        <span class="md-headline">{{word.name}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between">
                    <div class="md-media-lg card-media">
                        <md-button ng-show="word.hasAudio" aria-label="play audio of {{word.name}}" class="md-icon-button" ng-click="word.playAudio(word.audio); $event.stopPropagation()">
                            <i class="material-icons">play_circle_outline</i>
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>
        </md-grid-tile>
    </md-grid-list>