<!--
    This file is part of knowBetter.

    knowBetter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    knowBetter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with knowBetter.  If not, see <http://www.gnu.org/licenses/>.
-->

<md-content class="md-padding" layout="row" layout-xs="column" layout-wrap>
    <div ng-repeat="sentence in test.translationPairsSentences track by $index">

        <md-card ng-show="$index === test.currentPair">
            <md-card-title>
                <md-card-title-text>
                    <span ng-show="sentence.solved" class="md-headline">
                        {{sentence.name}}
                    </span>
                    <span ng-show="!sentence.solved">

                        <h3>
                            {{sentence.part1}}
                            <input type="text" placeholder="{{ 'TRANSLATION' | translate }}" ng-model="sentence.answer"  class="form-control big kb-input-translate">
                            {{sentence.part2}}
                            <md-button class="md-icon-button" ng-click="test.checkAnswer(sentence)" ng-class="{'md-warn' : sentence.offerHint > 0}">  <i class="material-icons">panorama_fish_eye</i> </md-button>
                        </h3>
                        <label class="chars" ng-repeat="char in data.getLanguageByID(pair[1].language_ID).chars"  ng-click="test.addCharToAnswer(sentence, char)">{{char}}</label>

                        <div ng-show="sentence.offerHint > 0">{{test.getHint(sentence.solution, sentence.offerHint)}}</div>
                    </span>
                </md-card-title-text>
            </md-card-title>

        </md-card>
    </div>
</md-content>