<!--
    This file is part of knowBetter.

    knowBetter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    knowBetter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with knowBetter.  If not, see <http://www.gnu.org/licenses/>.
-->



<md-toolbar layout="row" class="md-hue-2" flex>
    <div class="md-toolbar-tools">
        <span>{{ 'TEST_SIMILAR' | translate}}</span>
    </div>
</md-toolbar>


<md-content class="md-padding" layout="row" layout-xs="column" layout-wrap>
    <div ng-repeat="pair in test.translationPairs track by pair.index" ng-show="pair.index === test.currentPair">
        <md-card >

            <div class="md-media-lg card-media md-48" layout="center center">
                <md-button style="min-height:80px" ng-show="pair[1].hasAudio" aria-label="play audio of {{pair[1].name}}" class="md-icon-button flex" ng-click="pair[1].playAudio(pair[1].audio);
                        $event.stopPropagation()">
                    <i class="material-icons md-48">play_circle_outline</i>
                </md-button>
            </div>
            
        </md-card>


        <!-- md-grid list with md-cards of simlar words of same language as translation -->

        <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-lg="4" md-cols-gt-lg="8" md-row-height="200px" flex layout-padding style="margin-bottom:5em">
            <md-grid-tile ng-repeat="sims in pair[0].similarWords" md-colspan="1" md-rowspan="1" layout="row" layout-align="center center" layout-padding layout-margin>
                <md-card>
                    {{sims.word.name}}
                </md-card>
            </md-grid-tile>
        </md-grid-list>


    </div>
</md-content>

<md-toolbar layout="row" class="md-hue-2 push-bottom">
    <div class="md-toolbar-tools">
        <md-button class="push-left" aria-label="previous" ng-click="test.previousPair()" ng-hide="test.currentPair === 0">
            <i class="material-icons">keyboard_arrow_left</i>
        </md-button>

        <label class="push-center" layout-aling="center center"> {{test.translationPairs.active}} </label>

        <md-button class="push-right" aria-label="next" ng-click="test.nextPair()" ng-hide="test.currentPair === test.translationPairs.length - 1">
            <i class="material-icons">keyboard_arrow_right</i>
        </md-button>
    </div>
</md-toolbar>