<!--
    This file is part of knowBetter.

    knowBetter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    knowBetter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with knowBetter.  If not, see <http://www.gnu.org/licenses/>.
-->


<md-content class="md-padding" layout="row" layout-xs="column" layout-wrap>
    <div ng-repeat="pair in test.translationPairs track by pair.index" ng-show="pair.index === test.currentPair" layout="row" layout-xs="column">
        <md-card>
            <md-card-title>
                <md-card-title-text style="text-align:center">
                    <span class="md-headline">{{pair[1].name}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <md-button ng-show="pair[1].hasAudio" aria-label="play audio of {{pair[1].name}}" class="md-icon-button" ng-click="pair[1].playAudio(pair[1].audio);
                                $event.stopPropagation()">
                            <i class="material-icons">play_circle_outline</i>
                        </md-button>
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <ul>
                    <li ng-repeat="sentence in pair[1].sentences">
                        {{sentence.name}}
                    </li>
                </ul>
            </md-card-content>
        </md-card>
        <md-card>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{pair[0].name}}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <md-button ng-show="pair[0].hasAudio" aria-label="play audio of {{pair[0].name}}" class="md-icon-button" ng-click="pair[0].playAudio(pair[0].audio);
                                $event.stopPropagation()">
                            <i class="material-icons">play_circle_outline</i>
                        </md-button>
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-content>
                <ul>
                    <li ng-repeat="sentence in pair[0].sentences">
                        {{sentence.name}}
                    </li>
                </ul>
            </md-card-content>
        </md-card>
    </div>
</md-content>