<!--
    This file is part of knowBetter.

    knowBetter is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    knowBetter is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with knowBetter.  If not, see <http://www.gnu.org/licenses/>.
-->

    <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-lg="4" md-cols-gt-lg="8" md-row-height="200px" flex layout-padding style="margin-bottom:5em">

        <md-grid-tile ng-repeat="pair in test.translationPairs track by pair.index" md-colspan="1" md-rowspan="1" layout="row" layout-align="center center" layout-padding layout-margin ng-click="pair.switchWords(pair); pair.showComments = pair.showForms = pair.showSentences = false" >
            <md-card style='min-width:200px; min-height:160px'>
                <md-card-content style="text-align:center">
                    <span aria-label="{{pair[0].name}}" ng-show="!pair.showSentences && !pair.showForms && !pair.showComments" ng-click="$event.stopPropagation()">
                        {{pair[0].name}}
                        <md-tooltip md-direction="top" ng-show="pair[0].formPrimaryName && pair[0].formPrimaryName.length > 0">
                            {{pair[0].formPrimaryName}}
                        </md-tooltip>
                    </span>
                    <span ng-if="pair[0].formsPrimary" ng-repeat="form in pair[0].formsPrimary" md-colors="{color: '{{data.getUserTheme()}}-primary'}">
                        <span ng-click="form.playAudio(form.audio); $event.stopPropagation()" >
                            , {{form.name}}
                            <md-tooltip md-direction="top" ng-show="form.formPrimaryName.length > 0">
                                {{form.formPrimaryName}}
                            </md-tooltip>
                        </span>
                    </span>
                    <span ng-if="pair[0].synonyms" class="synonyms">
                        <span ng-repeat="synonym in pair[0].synonyms" md-colors="{color: '{{data.getUserTheme()}}-warn'}">
                            , {{synonym.name}}
                        </span>
                    </span>
                    <span ng-show="pair.showSentences">
                        <ul>
                            <li ng-repeat="sentence in data.getSentences(pair[0]) track by $index">
                                {{sentence.name}}                        
                            </li>
                        </ul>
                    </span>
                    <span ng-show="pair.showComments">
                        <ul>
                            <li ng-repeat="comment in data.getComments(pair[0]) track by $index">
                                {{comment.name}}                        
                            </li>
                        </ul>
                    </span>
                    <span ng-show="pair.showForms" ng-click="$event.stopPropagation()">
                        <div layout="row" class='forms-carousel' flex ng-init="slide.currentSlide = 0">
                            <div>
                                <md-button ng-hide="slide.currentSlide === 0" ng-click="slide.currentSlide = slide.currentSlide - 1" class='md-icon-button'>
                                    <i class="material-icons">chevron_left</i>
                                </md-button>
                            </div>
                            <div class='forms-slide' ng-repeat='category in pair[0].formsSecondaryProcessed track by category.id' layout='column'>
                                <span ng-show="category.id === slide.currentSlide"> 
                                    <h1>{{category.name}}</h1> 
                                    <ul>
                                        <li ng-repeat='form in category.forms track by $index'>
                                            {{category.formNames[$index]}} - {{form}}
                                        </li>
                                    </ul>
                                </span>
                            </div>
                            <div>
                                <md-button ng-hide="slide.currentSlide === (pair[0].formsSecondaryProcessed.length - 1)" ng-click="slide.currentSlide = slide.currentSlide + 1" class='md-icon-button'>
                                    <i class="material-icons">chevron_right</i>
                                </md-button>
                            </div>
                        </div>
                    </span>
                </md-card-content>
                <md-card-footer>
                    <md-card-actions layout="row" layout-align="center center">
                        <md-button ng-show="pair[0].hasAudio" aria-label="play audio of {{pair[0].name}}" class="md-icon-button" ng-click="pair[0].playAudio(pair[0].audio);
                                $event.stopPropagation()">
                            <i class="material-icons">play_circle_outline</i>
                        </md-button> 
                        <md-button ng-show="pair[0].formsSecondaryProcessed.length > 0" class="md-icon-button" ng-click="pair.showForms = !pair.showForms; pair.showSentences = pair.showComments = false; $event.stopPropagation(); $event.stopPropagation();"  aria-label="{{'FORMS_SECONDARY'| translate }}">
                            <i class="material-icons">list</i>
                        </md-button>
                        <md-button ng-show="pair[0].sentences.length > 0" class="md-icon-button" ng-click="pair.showSentences = !pair.showSentences; pair.showComments = pair.showForms = false; $event.stopPropagation(); $event.stopPropagation();"  aria-label="{{'SENTENCES'| translate }}">
                            <i class="material-icons">subject</i>
                        </md-button>
                        <md-button ng-show="pair[0].comments.length > 0" class="md-icon-button" ng-click="pair.showComments = !pair.showComments; pair.showForms = pair.showSentences = false; $event.stopPropagation();" aria-label="{{'COMMENTS'| translate }}">
                            <i class="material-icons"><i class="material-icons">question_answer</i></i>
                        </md-button>
                    </md-card-actions>
                </md-card-footer>
            </md-card>



        </md-grid-tile>
    </md-grid-list>